<div class="container">
  <h1>About Me</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>
        Hi, I'm Ian Brooks. I live in the Southwest of England with my wife Kath, guide dog Velvet and cat Oscar. I have two daughters,
        but they are now off leading their own lives.
      </p>
      <h2>
        I love to code!
      </h2>
      <p>
        Since the age of 11 I have been programming computers. At that tender age I started writing in Basic on my Commodore Vic
        20 (yes, an ancient computer) and got a thrill from getting my programs to work. I also 'broke' into games and changed
        the code so I would always win! Yes, that is cheating, but I did it because I enjoyed playing around with the game
        code. I acutally won a prize after I sent one of my 'hacks' into a game magazine, the hack showed other players how
        to win in a Football Management game - Nowaadays I'd probably get done for match fixing!
      </p>
      <p>I've spent most of my life in front of comptuers for work and play dabbling with new programming languages and frameworks.
        I get a buzz learning new ways to code and playing around with new technologies. I mostly learn through reading (articles/documentation/books)
        online, Udemy courses and Youtube tutorails, but I do pick up a physical book from time to time!.Learning new things
        is a big part of who I am because you never know when that new knowledge may come in handy for a work or hobby project.
      </p>
      <p>
        At the time of writing this page I have been teaching myself Angular 4/5 (this web app is created using it) and React Native
        because I would like to create some ios/android apps in the near futre. I've also been dabbling with Google Go (Golang)
        because it is a powerful mixture of all the languages I know and love.
      </p>

      <!-- <h2>To learn more</h2>
      <p>Watch my youtube video</p>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe id="about-video" class="embed-responsive-item" src="https://www.youtube.com/embed/_AWf_iO3Rtc" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div> -->


    </div>
  </div>
</div>