<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-8 col-lg-8">
        <h2>Hello, and welcome to my small part of the internet</h2>
        <p>My name is Ian Brooks. I am a visually impaired coder currently living in Somerset, UK.</p>
        <p>I enjoy developing software, apps and websites and I constantly update my skills by doing online tutorials, reading
          documentation and coding manuals - you can never know too much! This small site was created using Angular 4 and
          bootstrap with skills I learnt from a course on UDEMY.</p>
        <p>You can find out more about, contact me or take a look at my code on GitHub, by clicking on the social media icons
          in the menu bar above.</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
        <img class="img-rounded" src="../../../assets/images/ian-in-man-cave.jpg" alt="Ian Brooks in his 'Man Cave'">
      </div>
    </div>

  </div>
</div>