<!-- <div class="container">
  <div class="alert alert-dismissible alert-warning">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    <h4>Warning!</h4>
    <p>This web app is currently under construction, so please keep checking back.</p>
  </div>
</div> -->

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-8 col-lg-8">
        <h2>Hello, and welcome to my small part of the internet</h2>
        <p>My name is Ian Brooks, a visually impaired coder currently living in Somerset, UK.</p>
        <p>I enjoy developing software, apps and websites. This small site was created using Angular 4 and bootstrap - it's simple and effective.</p>
        <p>You can find out more about me, contact me or take a look at my code on GitHub, by clicking on the social media icons in the menu bar above.</p>
        <!-- <p>
          <a class="btn btn-success btn-lg" routerLink="about">Learn more</a>
          <a class="btn btn-primary btn-lg" routerLink="cv">Skills & Work</a>
        </p> -->
      </div>
      <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
        <img class="img-rounded" src="../../../assets/images/ian-in-man-cave.jpg" alt="Ian Brooks in his 'Man Cave'">
      </div>
    </div>

  </div>
</div>