<!-- <div class="container">
  <div class="alert alert-dismissible alert-warning">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    <h4>Warning!</h4>
    <p>This web app is currently under construction, so please keep checking back.</p>
  </div>
</div> -->

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-8 col-lg-8">
        <h1>Hello, and welcome to my small part of the internet</h1>
        <p>My name is Ian Brooks and within this site you will learn about me, how I cope with day-to-day life with a visual
          impairment, as well as hear about my IT skills and work history.</p>
        <p>Any questions? Then please get in touch by using the social media icons at the top of this app.</p>
        <p>
          <a class="btn btn-success btn-lg" routerLink="about">Learn more</a>
          <a class="btn btn-primary btn-lg" routerLink="cv">Skills & Work</a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
        <img class="img-rounded" src="../../../assets/images/ian-in-man-cave.jpg" alt="Ian Brooks in his 'Man Cave'">
      </div>
    </div>

  </div>
</div>