<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button" (click)="toggleCollapse()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ian Brooks' App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" [class.show]="show">
      <ul class="nav navbar-nav">
        <li>
          <a class="active" routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="about">About</a>
        </li>
        <li>
          <a routerLink="cv">Skills/CV</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <app-social-media-icons></app-social-media-icons>
      </ul>
    </div>
  </div>
</nav>